@import url('reset.css');
@import url('common.css');

header{
  padding-top: 47px;
  background: 
    no-repeat url(../images/header_ellipse.svg),
    no-repeat url(../images/header_bg.svg) right top;
}
header nav{
  margin-bottom: 18px;
}
header nav > div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}  
nav h1 a{
  background: no-repeat url(../images/logo.svg);
  width: 116px;
  height: 35px;
  display: block;
  text-indent: -99em;
  overflow: hidden;
}
.top_menu{
  display: flex;
  align-items: center;
}
.top_menu ul{
  display: flex;
}
.dropdown ul{
  display: none;
}
.main_menu{
  gap: 60px;
  margin-right: 80px;
}
.login_menu{
  gap: 30px;
  margin-right: 30px;
}
.login_menu a{
  padding: 0 21px;
  border: 1px solid transparent;
  line-height: 38px;
  border-radius: 5px;
  display: block;
  box-sizing: border-box;
  transition: .3s;
}
.login_menu a:hover{
  border-color: #212832;
}
/* hero */
.hero{
  display: flex;
  justify-content: space-between;
}
.hero .content{
  margin-top: 122px;
  margin-left: 15px;
  width: 545px;
}
.hero .content h3{
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #DF6951;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.hero .content h2{
  font-family: "Volkhov", serif;
  font-size: 84px;
  line-height: 89px;
  letter-spacing: -0.04em;
  color: #181E4B;
  margin-bottom: 30px;
}
.hero .content h2 strong{
  position: relative;
}
.hero .content h2 strong:after{
  content: '';
  width: 385px;
  height: 12px;
  background: url(../images/header_title_bg.svg);
  position: absolute;
  bottom: 16px;
  left: -20px;
  z-index: -1;
}
.content p{
  line-height: 30px;
  color: #5E6282;
  padding-right: 70px;
  margin-bottom: 34px;
}
.hero .cta{
  display: flex;
  gap: 44px;
  align-items: center;
}
.hero .cta a{
  height: 60px;
  display: flex;
  align-items: center;
  background: #F1A501;
  padding: 0 26px;
  border-radius: 10px;
  font-size: 18px;
  font-family: 'Product Sans Medium Regular';
  color: #fff;
}
.hero .cta button{
  display: flex;
  align-items: center;
  gap: 21px;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  color: #686D77;
}
.hero .cta button .icon{
  width: 52px;
  height: 52px;
  background: #DF6951;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  font-size: 15px;
  box-shadow: 0 15px 30px rgba(223,105,81,0.3);
}